<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0502E45A12BD0CFF00ACDCB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>050DE24C0F61B80B00152ED3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>052A45CE136353FB00987004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>052A4644136355FD00987004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058812B81040582D009128FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058812D410405908009128FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CD31510EE936A9000FDE88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CD31620EE93905000FDE88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CD31680EE939D0000FDE88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CD32680EE93DC3000FDE88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CD32A80EE94062000FDE88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CD33230EE94439000FDE88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05E731E20EFA1A3E005EDFB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05E731F20EFA1AAB005EDFB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05F40CE60EF7AB80008050CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC2EF4F0486A6940098B216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
