<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CrashReporter-MacOSX-Static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CrashReporter-MacOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CrashReporter-iPhone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>CrashReporter-iPhoneOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CrashReporter-iPhoneSimulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>CrashReporter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>DemoCrash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Disk Image.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Fuzz Testing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Tests-iPhoneOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Tests-iPhoneSimulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>plcrashutil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>050DE24C0F61B80B00152ED3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058812B81040582D009128FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058812D410405908009128FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CD31510EE936A9000FDE88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CD31620EE93905000FDE88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CD31680EE939D0000FDE88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CD32680EE93DC3000FDE88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CD32A80EE94062000FDE88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05CD33230EE94439000FDE88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05E731E20EFA1A3E005EDFB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05E731F20EFA1AAB005EDFB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05F40CE60EF7AB80008050CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC2EF4F0486A6940098B216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
